<div id="forgot-password"
     fxLayout="column"
     fusePerfectScrollbar>

  <div id="forgot-password-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center"
       *fuseIfOnDom
       [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div id="forgot-password-form">

      <div class="logo">
        <img src="assets/images/logos/app-icon-logo.png">
      </div>

      <div class="title">RECOVER YOUR PASSWORD</div>

      <div *ngIf="emailSent; then confirm else form"></div>

      <ng-template #confirm>
        <p>
          A password reset e-mail has been sent to
          <b>{{forgotPasswordForm.get('email').value}}</b>.
        </p>
        <p>
          Check your inbox and click on the link to reset your password.
        </p>
      </ng-template>
      <ng-template #form>
        <form name="forgotPasswordForm"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="sendResetPasswordEmail()"
              novalidate>

          <mat-form-field>
            <input matInput
                   placeholder="Email"
                   formControlName="email">
            <mat-error *ngIf="forgotPasswordFormErrors.email.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <button mat-raised-button
                  class="submit-button"
                  color="accent"
                  aria-label="SEND RESET LINK"
                  [disabled]="forgotPasswordForm.invalid">
            SEND RESET LINK
          </button>
        </form>
      </ng-template>
      <div class="login"
           fxLayout="row"
           fxLayoutAlign="center center">
        <a class="link"
           [routerLink]="'/auth/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>