@import 'src/@fuse/scss/fuse';

.container {
  @include media-breakpoint-up('md') {
    width: 960px;
    margin: 0 auto;
  }
}

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    background: inherit;
    color: inherit;
    position: relative;
  }

  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 24px;

    .logo-icon {
      width: 28px;
      height: 38px;
    }

    .logo-text {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .user-button {
    min-width: 64px;
    height: 64px;

    @include media-breakpoint-down('xs') {
      height: 56px;
    }
  }

  .toggle-button-navbar {
    min-width: 56px;
    height: 56px;
  }

  .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0, 0, 0, 0.12);

    @include media-breakpoint-down('xs') {
      height: 56px;
    }
  }
}
