<mat-toolbar class="p-0 container">

  <button mat-icon-button
          class="toggle-button-navbar"
          (click)="toggleSidebarOpened('home-navbar')"
          fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar-separator"
       fxHide.gt-sm></div>

  <div fxFlex
       fxFill
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <div class="logo"
         fxLayout="row"
         fxLayoutAlign="center center"
         (click)="scrollTo('intro-wrapper')">
      <img class="logo-icon"
           src="assets/images/logos/logo-msh_28x38.png">
      <span class="logo-text logo-font">Material Supply Hub</span>
    </div>

    <div class="menu mr-24"
         fxHide.lt-md>
      <button mat-button
              (click)="scrollTo('how-it-works')">How it works</button>
      <button mat-button
              (click)="scrollTo('features')">Features</button>
      <button mat-button
              (click)="scrollTo('about-us')">About us</button>
      <button mat-button
              (click)="scrollTo('contact')">Contact</button>

      <ng-container *ngIf="authService.user | async; then authenticated else guest"></ng-container>
      <ng-template #guest>
        <button mat-raised-button
                class="mat-orange-800-bg ml-8"
                [routerLink]="['/auth/login']">Login</button>
      </ng-template>
      <ng-template #authenticated>
        <button mat-raised-button
                *ngIf="authService.user | async"
                class="mat-orange-800-bg ml-8"
                [routerLink]="['/rfq']">Home</button>
      </ng-template>
    </div>

  </div>
</mat-toolbar>