<div class="page-layout blank p-24"
     fusePerfectScrollbar>

  <div class="h1 pb-20">
    Create Request for Quote (RFQ)
  </div>

  <div class="vertical-stepper-wrapper">

    <!-- RFQ VERTICAL STEPPER -->
    <mat-vertical-stepper class="mat-elevation-z4"
                          [linear]="true">

      <!-- Step 1 -->
      <mat-step [stepControl]="rfqStep1">

        <form [formGroup]="rfqStep1"
              (ngSubmit)="saveStep1(rfqStep1.value)"
              autocomplete="off"
              novalidate>

          <ng-template matStepLabel>General Information</ng-template>

          <div fxLayout="column"
               fxLayoutAlign="start"
               fxLayout.gt-sm="row"
               fxLayoutAlign.gt-sm="space-between start">
            <!-- RFQ name -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="65">
              <input matInput
                     placeholder="RFQ Name"
                     formControlName="rfqName">
              <mat-error *ngIf="rfqStep1.controls.rfqName.errors?.required">
                RFQ Name is required
              </mat-error>
              <mat-error *ngIf="rfqStep1.controls.rfqName.errors?.pattern">
                RFQ Name must start with a letter
              </mat-error>

            </mat-form-field>
            <!-- PO number -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="30">
              <input matInput
                     placeholder="PO Number"
                     formControlName="poNumber">
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayoutAlign="start start">
            <!-- RFQ description -->
            <mat-form-field fxFlex="100">
              <textarea matInput
                        placeholder="RFQ Description"
                        formControlName="rfqDescription">
                                          </textarea>
            </mat-form-field>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start"
               fxLayout.gt-sm="row"
               fxLayoutAlign.gt-sm="space-between start">
            <!-- Quotes needed by-->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="25">
              <input matInput
                     [matDatepicker]="quoteNeededBy"
                     placeholder="Quotes needed by"
                     formControlName="quoteNeededBy"
                     [min]="minDate"
                     [max]="maxDate"
                     (click)="quoteNeededBy.open()"
                     readonly>
              <mat-datepicker-toggle matSuffix
                                     [for]="quoteNeededBy"></mat-datepicker-toggle>
              <mat-datepicker #quoteNeededBy></mat-datepicker>
              <mat-error *ngIf="rfqStep1.controls.quoteNeededBy.errors?.required">
                Needed by date is required
              </mat-error>
            </mat-form-field>
            <!-- Anticipated award date-->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="25">
              <input matInput
                     [matDatepicker]="anticipatedAwardDate"
                     placeholder="Anticipated award date"
                     formControlName="anticipatedAwardDate"
                     [min]="minDate"
                     [max]="maxDate"
                     (click)="anticipatedAwardDate.open()"
                     readonly>
              <mat-datepicker-toggle matSuffix
                                     [for]="anticipatedAwardDate"></mat-datepicker-toggle>
              <mat-datepicker #anticipatedAwardDate></mat-datepicker>
              <mat-error *ngIf="rfqStep1.controls.anticipatedAwardDate.errors?.required">
                Anticipated award date is required
              </mat-error>
            </mat-form-field>
            <!-- Quote currency -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="25">
              <mat-select placeholder="Must be quoted in"
                          formControlName="quoteCurrency">
                <mat-option *ngFor="let quoteCurrency of quoteCurrencies"
                            [value]="quoteCurrency.name">
                  {{ quoteCurrency.name }} ({{ quoteCurrency.abbr }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rfqStep1.controls.quoteCurrency.errors?.required">
                Quote currency is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pb-20 pt-20"
               fxLayout="row"
               fxLayoutAlign="start start">
            <!-- Enable negotiation -->
            <mat-checkbox formControlName="enableNegotiation"
                          aria-label="Allow suppliers who quoted this RFQ to revise thier quote until the RFQ is awarded">
              Allow suppliers who quoted this RFQ to revise thier quote until the RFQ is awarded
            </mat-checkbox>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start"
               fxLayout.gt-sm="row"
               fxLayoutAlign.gt-sm="space-between start">
            <!-- Payment terms -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="30">
              <input matInput
                     placeholder="Payment terms"
                     formControlName="paymentTerms">
            </mat-form-field>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start"
               fxLayout.gt-sm="row"
               fxLayoutAlign.gt-sm="space-between start">
            <!-- File Upload -->
            <div fxFlex="100"
                 fxFlex.gt-sm="25">
              <button mat-raised-button
                      (click)="fileInput.click()"
                      color="primary"
                      type="button">
                <mat-icon>attachment</mat-icon>
                Attach File
              </button>
              <input hidden
                     type="file"
                     #fileInput
                     (change)="startUpload($event.target.files)" />
            </div>
            <div *ngIf="fileName"
                 fxFlex="100"
                 fxFlex.gt-sm="75">
              <div fxLayout="column"
                   fxLayoutAlign="start">
                <div>{{fileName}}</div>
                <div *ngIf="percentage | async as pct">
                  <progress class="progress is-info"
                            [value]="pct"
                            max="100">
                  </progress>
                  {{ pct | number }}%
                </div>
                <div *ngIf="snapshot | async as snap">
                  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
                </div>
              </div>

            </div>
          </div>

          <mat-list>
            <mat-list-item *ngFor="let file of files">
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>{{file.name}}</h4>
              <p mat-line> {{file.size | fileSize}} </p>
            </mat-list-item>
          </mat-list>

          <div class="pt-24"
               fxLayout="row"
               fxLayoutAlign="center center">
            <button mat-raised-button
                    matStepperNext
                    type="submit"
                    color="accent">
              Next
            </button>
          </div>

        </form>

      </mat-step>

      <!-- Step 2 -->
      <mat-step [stepControl]="rfqStep2">

        <form [formGroup]="rfqStep2">

          <ng-template matStepLabel>Add Material</ng-template>

          <div fxLayout="row"
               fxLayoutAlign="space-between start">
            <!-- Part Number -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="20">
              <input matInput
                     placeholder="Part #"
                     formControlName="partNumber">
              <mat-error *ngIf="rfqStep2.controls.partNumber.errors?.pattern">
                Part Number must start with a letter
              </mat-error>
            </mat-form-field>
            <!-- Material Type -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="20">
              <mat-select placeholder="Type"
                          formControlName="materialType">
                <mat-option *ngFor="let materialType of materialOptions.materialType"
                            [value]="materialType">
                  {{ materialType }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rfqStep2.controls.materialType.errors?.required">
                Material Type is required
              </mat-error>
            </mat-form-field>
            <!-- Material Process -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="20">
              <mat-select placeholder="Process"
                          formControlName="materialProcess">
                <mat-option *ngFor="let materialProcess of materialOptions.materialProcess"
                            [value]="materialProcess">
                  {{ materialProcess }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rfqStep2.controls.materialProcess.errors?.required">
                Material Process is required
              </mat-error>
            </mat-form-field>
            <!-- Material Specification -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="20">
              <mat-select placeholder="Specification"
                          formControlName="materialSpecification">
                <mat-option *ngFor="let materialSpecification of materialOptions.materialSpecification"
              
                            [value]="materialSpecification">
                  {{ materialSpecification }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rfqStep2.controls.materialSpecification.errors?.required">
                Material Specification is required
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayoutAlign="space-between start">
            <!-- Material Description -->
            <mat-form-field fxFlex="100"
                            fxFlex.gt-sm="20">
              <mat-select placeholder="Description"
                          formControlName="materialDescription">
                <mat-option *ngFor="let materialDescription of materialOptions.materialDescription"
              
                            [value]="materialDescription">
                  {{ materialDescription }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rfqStep2.controls.materialDescription.errors?.required">
                Material Description is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pt-24"
               fxLayout="row"
               fxLayoutAlign="center center">
            <button class="mr-8"
                    mat-raised-button
                    matStepperPrevious
                    type="button"
                    color="accent">
              Previous
            </button>
            <button mat-raised-button
                    matStepperNext
                    type="button"
                    color="accent">
              Next
            </button>
          </div>

        </form>

      </mat-step>

      <mat-step [stepControl]="verticalStepperStep3">

        <form [formGroup]="verticalStepperStep3">

          <ng-template matStepLabel>Fill out your address</ng-template>

          <div>

            <mat-form-field fxFlex="33">
              <input matInput
                     placeholder="City"
                     formControlName="city"
                     required>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput
                     placeholder="State"
                     formControlName="state"
                     required>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput
                     #postalCode
                     placeholder="Postal Code"
                     formControlName="postalCode"
                     required>
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

          </div>

          <div class="pt-24"
               fxLayout="row"
               fxLayoutAlign="center center">
            <button class="mr-8"
                    mat-raised-button
                    matStepperPrevious
                    type="button"
                    color="accent">
              Previous
            </button>
            <button mat-raised-button
                    matStepperNext
                    type="button"
                    color="accent">
              Next
            </button>
          </div>

        </form>

      </mat-step>

      <mat-step>

        <ng-template matStepLabel>Done</ng-template>

        <div class="h2 m-16"
             fxLayout="row"
             fxLayoutAlign="center center">
          Thank your for filling out our form.
        </div>

        <div class="pt-24"
             fxLayout="row"
             fxLayoutAlign="center center">
          <button class="mr-8"
                  mat-raised-button
                  matStepperPrevious
                  type="button"
                  color="accent">
            Previous
          </button>
          <button mat-raised-button
                  type="button"
                  color="accent"
                  (click)="finishVerticalStepper()">
            Finish
          </button>
        </div>

      </mat-step>

    </mat-vertical-stepper>
    <!-- / VERTICAL STEPPER EXAMPLE -->

  </div>

</div>