@import 'src/@fuse/scss/fuse';
@import 'src/app/core/scss/colors';

.navbar-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    min-height: 64px;
    padding: 0 16px 0 24px;
    transition: padding 200ms ease;
    background-color: rgba(255, 255, 255, 0.05);
    @include mat-elevation(1);

    .logo {
      display: flex;
      align-items: center;

      .logo-icon {
        width: 128px;
        height: 38px;
      }

      .logo-text {
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  .navbar-content {
    flex: 1;

    div {
      text-decoration: none !important;
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 24px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
  }
}

.top-navbar + #wrapper {
  & > .left-navbar {
    display: none !important;

    @include media-breakpoint-down(md) {
      display: flex !important;
    }
  }
}
