<div class="navbar-vertical">

  <div class="navbar-header">

    <div class="logo">
      <img class="logo-icon"
           src="assets/images/logos/logo-msh_28x38.png">
      <span class="logo-text logo-font">Material Supply Hub</span>
    </div>

    <button mat-icon-button
            class="toggle-button-navbar"
            (click)="toggleSidebarOpened()"
            fxHide.gt-md>
      <mat-icon>arrow_back</mat-icon>
    </button>

  </div>

  <div class="navbar-content"
       fusePerfectScrollbar>
    <div (click)="scrollTo('how-it-works')">How it works</div>
    <div (click)="scrollTo('features')">Features</div>
    <div (click)="scrollTo('about-us')">About us</div>
    <div (click)="scrollTo('contact')">Contact</div>

    <ng-container *ngIf="authService.user | async; then authenticated else guest"></ng-container>
    <ng-template #guest>
      <div class="msh-orange"
           [routerLink]="['/auth/login']"
           (click)="toggleSidebarOpened()">Login</div>
    </ng-template>
    <ng-template #authenticated>
      <div class="msh-orange"
           [routerLink]="['/rfq']"
           (click)="toggleSidebarOpened()">Home</div>
    </ng-template>
  </div>

</div>