// MSH colors
$msh-orange: #fb7821;
$msh-dark-blue: #3b8ea5;
$msh-light-blue: #92dce5;

.msh-orange {
  color: $msh-orange;
}

.msh-dark-blue {
  color: $msh-dark-blue;
}

.msh-light-blue {
  color: $msh-light-blue;
}

.msh-orange-bg {
  background-color: $msh-orange;
  color: #fff;
}

.msh-dark-blue-bg {
  background-color: $msh-dark-blue;
  color: #fff;
}

.msh-light-blue-bg {
  background-color: $msh-light-blue;
  color: #fff;
}
