@import 'src/@fuse/scss/fuse';
@import 'src/app/core/scss/colors';

#intro-wrapper {
  background: url('/assets/images/backgrounds/home-bg.jpg') no-repeat center
    center;
  background-attachment: initial;
  background-size: cover;
  border-bottom: 1px solid darken(#f2f2f2, 40);
  @include media-breakpoint-up('md') {
    background-attachment: fixed;
  }

  .intro-wrapper-inner {
    padding: 24px;
    @include media-breakpoint-up('md') {
      width: 960px;
      margin: 0 auto;
    }
  }

  .intro {
    color: #fff;
    > * {
      width: 100%;
    }
    .description {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      background-color: rgba(0, 0, 0, 0.25);
      margin: 20px 0 10px;
      padding: 10px;
      @include media-breakpoint-up('md') {
        margin: 70px 0;
      }
    }

    .headline {
      font-size: 3em;
      font-weight: bold;
      line-height: 1.2em;
      text-transform: uppercase;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);

      @include media-breakpoint-down('xs') {
        font-size: 2em;
      }
    }

    .buttons {
      flex-flow: row wrap;
      width: 100%;

      button {
        @include media-breakpoint-down('xs') {
          margin-top: 1em;
        }
      }
    }
  }
}

#how-it-works {
  padding: 24px;
  @include media-breakpoint-up('md') {
    width: 960px;
    margin: 0 auto;
  }

  .hiw-headline {
    font-size: 1.5em;
    text-align: center;
    @include media-breakpoint-up('md') {
      width: 600px;
      margin: 24px auto 48px;
    }
  }

  .flow-chart {
    width: 100%;
    text-align: center;
    @include media-breakpoint-down('sm') {
      font-size: 1.4em;
      margin: 0 auto;
      text-align: left;

      > div > * {
        padding: 10px;
      }

      > div:nth-child(odd) {
        background-color: #f2f2f2;
      }
    }
    p {
      width: 100%;
    }
    mat-icon {
      font-size: 80px;
      height: 80px;
      width: 80px;
    }

    .arrow mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    .arrow-up-right mat-icon {
      transform: rotate(180deg);
    }
  }

  p {
    margin: 0;
  }
}

.features-wrapper {
  background-color: #f2f2f2;
  border-bottom: 1px solid darken(#f2f2f2, 10);
  border-top: 1px solid darken(#f2f2f2, 10);

  #features {
    padding: 24px;
    @include media-breakpoint-up('md') {
      width: 960px;
      margin: 0 auto;
    }

    .kf-headline {
      font-size: 2em;
      text-align: center;
      @include media-breakpoint-up('md') {
        margin: 24px auto 24px;
      }
    }

    .feature-icons {
      width: 100%;
    }

    > div > div {
      padding: 10px;

      :first-child {
        height: 52px;
      }
    }

    p {
      font-size: 1.2em;
      text-align: center;
      width: 100%;
    }

    mat-icon {
      font-size: 52px;
      height: 52px;
      width: 52px;
    }
  }
}

#about-us {
  padding: 24px;
  @include media-breakpoint-up('md') {
    width: 960px;
    margin: 0 auto;
  }

  .devices-img {
    width: 364px;
  }

  h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .profile {
    margin-bottom: 24px;

    img {
      border-radius: 50%;
      display: block;
      filter: grayscale(100%);
      height: 165px;
      margin: 0 auto 15px;
      text-align: center;
      width: 165px;
    }
    .profile-name {
      font-size: 1.5em;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }
}

#contact {
  .contact-header-wrapper {
    background: url('/assets/images/backgrounds/home-bg.jpg') no-repeat center
      center;
    background-attachment: initial;
    background-size: cover;
    @include media-breakpoint-up('md') {
      background-attachment: fixed;
    }
    .contact-header {
      color: #fff;
      padding: 24px;
      @include media-breakpoint-up('md') {
        width: 600px;
        margin: 0 auto;
      }

      h2 {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
      }

      .description {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
        background-color: rgba(0, 0, 0, 0.25);
        margin: 20px 0 24px;
        padding: 10px;
      }
    }
  }
  .contact-form-wrapper {
    background-color: #f2f2f2;
    border-bottom: 1px solid darken(#f2f2f2, 10);
    border-top: 1px solid darken(#f2f2f2, 40);
  }
  .contact-form {
    padding: 24px;
    @include media-breakpoint-up('md') {
      width: 960px;
      margin: 0 auto;
    }

    .contact-form-title {
      font-size: 1.5em;
    }
  }
}

.footer-wrapper {
  background-color: #0f293c;
  .footer {
    color: #fff;
    padding: 24px;
    @include media-breakpoint-up('md') {
      width: 960px;
      margin: 0 auto;
    }

    .logo {
      .logo-icon {
        width: 28px;
        height: 38px;
      }

      .logo-text {
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }

    .copyright {
      text-align: center;
    }
  }
}
