<div id="home"
     class="page-layout simple"
     fusePerfectScrollbar>
  <!-- CONTENT -->
  <div class="content">
    <!-- Intro -->
    <div id="intro-wrapper">
      <div class="intro-wrapper-inner">
        <div fxLayout="column"
             fxLayoutAlign="start start"
             fxFlex.gt-sm="65"
             class="intro">
          <p class="headline m-0">Revolutionizing how the manufacturing industry buys and sells material</p>
          <p class="description">Material Supply Hub allows Manufacturers to submit an RFQ for material
            into the system, and through its matchmaking process, routes the RFQ
            to Suppliers that can fulfill any part of the RFQ. Manufacturers can
            then easily list excess material on the site as if they were a Supplier,
            opening boundless supply options.</p>

          <div fxLayout="row"
               fxLayoutAlign="space-between center"
               class="buttons">
            <button mat-stroked-button
                    class="msh-dark-blue-bg"
                    (click)="scrollTo('how-it-works', null)">Learn More
              <mat-icon>info_outline</mat-icon>
            </button>

            <div fxLayout="row"
                 fxLayoutAlign="end center"
                 fxLayoutGap="10px">
              <button mat-stroked-button
                      class="msh-orange-bg"
                      (click)="scrollTo('contact', 'requestDemo')">Request a Demo</button>

              <button mat-stroked-button
                      class="msh-orange-bg"
                      (click)="scrollTo('contact', 'waitList')">Join Waitlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- How it works -->
    <div id="how-it-works"
         fxLayout="column"
         fxLayoutAlign="start center">
      <h2 class="hiw-headline">Cloud-based platform that allows Manufacturers and Suppliers to connect in
        a single application.</h2>

      <div fxLayout="column"
           fxLayout.gt-sm="row wrap"
           fxLayoutAlign="start stretch"
           class="flow-chart">

        <!-- Step 1 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxLayoutAlign.gt-sm="end center"
             fxFlex="100"
             fxFlex.gt-sm="20"
             fxFlexOrder="1">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1"
               fxFlexOrder.gt-sm="2">
            <mat-icon class="msh-dark-blue">people_outline</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2"
             fxFlexOrder.gt-sm="1">Manufacturers &amp; Suppliers create a profile on MSH</p>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="end center"
             fxFlexOrder="2"
             fxFlex="7"
             fxHide.lt-md
             class="arrow arrow-up-right">
          <mat-icon class="msh-orange">subdirectory_arrow_left</mat-icon>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="start end"
             fxFlexOrder="5"
             fxFlex="13"
             fxHide.lt-md
             class="arrow">
          <mat-icon class="msh-dark-blue">subdirectory_arrow_right</mat-icon>
        </div>

        <!-- Step 2 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="2"
             fxFlexOrder.gt-sm="5">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1"
               fxFlexOrder.gt-sm="2">
            <mat-icon class="msh-orange">assignment</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="1"
             fxFlexOrder.gt-sm="2">Manufacturer initiates an RFQ</p>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="end center"
             fxFlexOrder="3"
             fxFlex="7"
             fxHide.lt-md
             class="arrow arrow-up-right">
          <mat-icon class="msh-orange">subdirectory_arrow_left</mat-icon>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="start center"
             fxFlexOrder="6"
             fxFlex="8"
             fxHide.lt-md
             class="arrow">
          <mat-icon class="msh-dark-blue">subdirectory_arrow_right</mat-icon>
        </div>

        <!-- Step 3 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="3"
             fxFlexOrder.gt-sm="2">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1"
               fxFlexOrder.gt-sm="2">
            <mat-icon class="msh-dark-blue">gps_fixed</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2"
             fxFlexOrder.gt-sm="1">MSH matches suppliers to RFQ &amp; Manufacturer adds their own</p>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="end center"
             fxFlexOrder="4"
             fxFlex="6"
             fxHide.lt-md
             class="arrow arrow-up-right">
          <mat-icon class="msh-orange">subdirectory_arrow_left</mat-icon>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="start center"
             fxFlexOrder="7"
             fxFlex="6"
             fxHide.lt-md
             class="arrow">
          <mat-icon class="msh-dark-blue">subdirectory_arrow_right</mat-icon>
        </div>

        <!-- Step 4 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="4"
             fxFlexOrder.gt-sm="6">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1">
            <mat-icon class="msh-orange">notifications_active</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2">Suppliers are notified and quote the job</p>
        </div>

        <!-- Step 5 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="5"
             fxFlexOrder.gt-sm="3">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1"
               fxFlexOrder.gt-sm="2">
            <mat-icon class="msh-dark-blue">repeat</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2"
             fxFlexOrder.gt-sm="1">Manufacturers &amp; Suppliers communicate and manage RFQ via MSH</p>
        </div>

        <!-- Step 6 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="6"
             fxFlexOrder.gt-sm="7">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1">
            <mat-icon class="msh-orange">thumb_up</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2">Manufacturer then awards the job to a supplier</p>
        </div>

        <!-- Step 7 -->
        <div fxLayout="row"
             fxLayout.gt-sm="column"
             fxLayoutAlign="start center"
             fxFlex="20"
             fxFlexOrder="7"
             fxFlexOrder.gt-sm="4">
          <div fxLayoutAlign.lt-md="center center"
               fxFlex.lt-md="30"
               fxFlexOrder="1"
               fxFlexOrder.gt-sm="2">
            <mat-icon class="msh-dark-blue">local_atm</mat-icon>
          </div>
          <p fxLayoutAlign.lt-md="start center"
             fxFlex.lt-md="70"
             fxFlexOrder="2"
             fxFlexOrder.gt-sm="1">Manufacturer lists their excess material on MSH, effectively becoming a
            supplier
          </p>
        </div>
      </div>

      <div fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutGap="30px"
           class="mt-48 mb-24">
        <button mat-raised-button
                class="msh-dark-blue-bg"
                (click)="scrollTo('contact', 'requestDemo')">Request a Demo</button>

        <button mat-raised-button
                class="msh-dark-blue-bg"
                (click)="scrollTo('contact', 'waitList')">Join Waitlist</button>

      </div>
    </div>

    <!-- Key Features -->
    <div class="features-wrapper">
      <div id="features"
           fxLayout="column"
           fxLayoutAlign="start center">
        <h2 class="kf-headline">Key Features</h2>

        <div fxLayout="column"
             fxLayout.gt-sm="row wrap"
             fxLayoutAlign="start stretch"
             class="feature-icons">

          <div fxLayout="column"
               fxLayoutAlign="end center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="1">
            <mat-icon class="msh-dark-blue">language</mat-icon>
            <p>Site translates into any dialect</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="2">
            <fa-icon class="fa-3x msh-orange"
                     [icon]="['fas', 'balance-scale']"></fa-icon>
            <p>Converts lbs./kgs. &amp; English/metric</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="3">
            <mat-icon class="msh-dark-blue">notifications_active</mat-icon>
            <p>Mobile alerts &amp; notifications</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="4">
            <fa-icon class="fa-3x msh-orange"
                     [icon]="['fas', 'calendar-alt']"></fa-icon>
            <p>Retains history of past quotes</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="6">
            <fa-icon class="fa-3x msh-orange"
                     [icon]="['fas', 'edit']"></fa-icon>
            <p>Report on material demand</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="5">
            <mat-icon class="msh-dark-blue">compare</mat-icon>
            <p>Easily compare quotes</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="8">
            <mat-icon class="msh-orange">shopping_cart</mat-icon>
            <p>List and sell excess material</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="7">
            <mat-icon class="msh-dark-blue">chat</mat-icon>
            <p>Integrated chat and messaging</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="9">
            <mat-icon class="msh-dark-blue">search</mat-icon>
            <p>Find minority owned businesses</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="10">
            <mat-icon class="msh-orange">extension</mat-icon>
            <p>Integration into ERP system</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="11">
            <mat-icon class="msh-dark-blue">star_half</mat-icon>
            <p>5-star vendor rating system</p>
          </div>

          <div fxLayout="column"
               fxLayoutAlign="start center"
               fxFlex="100"
               fxFlex.gt-sm="25"
               fxFlexOrder.lt-md="12">
            <mat-icon class="msh-orange">person_pin</mat-icon>
            <p>Select suppliers by locale</p>
          </div>


        </div>

        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="30px"
             class="mt-48 mb-24">
          <button mat-raised-button
                  class="msh-orange-bg"
                  (click)="scrollTo('contact', 'requestDemo')">Request a Demo</button>

          <button mat-raised-button
                  class="msh-orange-bg"
                  (click)="scrollTo('contact', 'waitList')">Join Waitlist</button>

        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="about-us-wrapper">
      <div id="about-us">
        <div fxLayout="column"
             fxLayoutAlign="start center"
             fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between end"
             fxLayoutGap.gt-sm="20px"
             class="mb-40">
          <img fxflex="40"
               class="devices-img"
               src="assets/images/devices.png">
          <div fxFlex>
            <h2 fxFlex>Who we are</h2>
            <p>There’s an immediate need to increase manufacturing jobs in America.
              In order to do this, we must lower costs and increase efficiencies;
              and that starts with technology.</p>
            <p>By reducing the time it takes to find the material and introducing supplier
              options to the manufacturer, project costs will come down. Additionally,
              manufacturers often times have excess material after a job has been
              completed. MSH will provide manufacturers with ability to list this
              material on the MSH Marketplace, and effectively become a supplier
              to other manufacturers. These tools make it more affordable to manufacture
              goods in the US.</p>
            <p>The team that will be executing on the vision understands the challenges
              with sourcing raw materials and has a deep understanding of the technology
              necessary to help solve this problem. That is why we developed MSH.</p>
          </div>
        </div>
        <div fxLayout="column"
             fxLayoutAlign="start center"
             fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between start">
          <div fxFlex="30"
               class="profile">
            <img src="assets/images/profile-photos/mark.jpg">
            <div class="profile-name">Mark VeRost</div>
            <p>With almost 20-years experience in operating a structural fabrication
              business and estimating material costs, Mark identified an opportunity
              and formed the basis of what MSH is.</p>
            <p>Mark oversees the day-to-day operations and sales while providing insight
              into the application.</p>
          </div>
          <div fxFlex="30"
               class="profile">
            <img src="assets/images/profile-photos/jeff.jpg">
            <div class="profile-name">Jeff Lukasavich</div>
            <p>Jeff has over 15-years experience with manning high-traffic web applications
              that received millions of page views daily and have generated over
              $100mm annually.</p>
            <p>He oversees the product development and marketing operations to ensure
              the product delivers solutions to meet the problems faced by Manufacturers
              &amp; Suppliers.</p>
          </div>
          <div fxFlex="30"
               class="profile">
            <img src="assets/images/profile-photos/matt.jpg">
            <div class="profile-name">Matt Copeland</div>
            <p>Matt has over 2 decades of experience in website architecture and development.
              He has deployed many medium and large scale web applications.</p>
            <p>Matt oversees the technical side of MSH to ensure that the application
              is running smoothly. He also develops and maintains the features of
              the application.</p>
          </div>
        </div>
        <div class="text-center mt-24 mb-24">
          <button mat-raised-button
                  class="msh-orange-bg"
                  (click)="scrollTo('contact', 'contact')">Contact Us</button>
        </div>
      </div>
    </div>
    <!-- Contact Us -->
    <div id="contact">
      <div class="contact-header-wrapper">
        <div class="contact-header">
          <h2>Be in Touch</h2>
          <div class="description">
            <p>Material Supply Hub is still in development and we're looking to launch
              in the near future.</p>
            <p>If you are interested in a demo, want to be kept up to date on the launch
              date or would like to help out, shoot us an email. We would love to
              hear from you.</p>
          </div>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <div *ngIf="formSubmitted"
             class="form-submitted m-24 text-center">
          <div class="cursive-font font-size-40">Thanks!</div>
          <p class="font-size-20">We'll be in touch soon.</p>
        </div>
        <form *ngIf="!formSubmitted"
              [formGroup]="formGroup"
              (ngSubmit)="onFormSubmit(formGroup.value)"
              novalidate>
          <div fxLayout="column"
               fxLayoutAlign="start stretch"
               fxLayout.gt-sm="row wrap"
               class="contact-form">
            <div fxFlex="50"
                 fxLayout="column"
                 fxLayoutAlign="start center">
              <div class="contact-form-title mb-20">I would like to...</div>

              <div fxLayout="column"
                   fxLayoutAlign="start start">
                <mat-slide-toggle formControlName="requestDemo"
                                  class="mb-28">Request a demo</mat-slide-toggle>
                <mat-slide-toggle formControlName="waitList"
                                  class="mb-28">Join the waitlist</mat-slide-toggle>
                <mat-slide-toggle formControlName="contact"
                                  class="mb-28">Contact Us</mat-slide-toggle>
              </div>
            </div>
            <div fxFlex="50"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
              <mat-form-field>
                <input matInput
                       placeholder="Name"
                       formControlName="person_name">
              </mat-form-field>

              <mat-form-field>
                <input matInput
                       placeholder="Email"
                       formControlName="email">
              </mat-form-field>

              <mat-form-field>
                <textarea matInput
                          placeholder="Message"
                          formControlName="message">
                                  </textarea>
              </mat-form-field>

            </div>
            <div fxFlex="100"
                 class="text-center mt-48 mb-24">
              <button mat-raised-button
                      class="msh-orange-bg"
                      type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer-wrapper">
      <div fxLayout="column"
           fxLayoutAlign="start start"
           fxLayout.gt-sm="row wrap"
           fxLayoutAlign.gt-sm="space-between center"
           class="footer">
        <div fxFlex="30"
             class="logo mb-24"
             fxLayout="row"
             fxLayoutAlign="center center">
          <img class="logo-icon"
               src="assets/images/logos/logo-msh_28x38.png">
          <span class="logo-text logo-font">Material Supply Hub</span>
        </div>
        <div fxFlex="38"
             class="mb-24">Material Supply Hub connects Manufacturers &amp; Suppliers in a single application
          that enables Manufacturers to quickly and efficiently find the material
          that best meets their manufacturing needs!</div>
        <div fxFlex="25"
             fxLayout="column"
             fxLayoutAlign="space-around start"
             class="mb-24">
          <div fxLayout="row"
               fxLayoutAlign="start center"
               class="mb-12">
            <mat-icon>phone</mat-icon>
            <span>716-310-0644</span>
          </div>
          <div fxLayout="row"
               fxLayoutAlign="start center">
            <mat-icon>location_on</mat-icon>
            <span>3783 Spice Creek
              <br />North Tonawanda, NY 14120</span>
          </div>
        </div>
        <div fxFlex="100"
             class="copyright">&copy; 2018 by Material Supply Hub</div>
      </div>

    </div>
    <!-- / CONTENT -->

  </div>