// Import Fuse core library
@import '@fuse/scss/core';

snack-bar-container.error {
  background-color: #f00;
}

.logo-font {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

.cursive-font {
  font-family: 'Pacifico', cursive;
}

.text-center {
  text-align: center;
}
