<div id="login"
     fxLayout="column"
     fusePerfectScrollbar>

  <div id="login-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="login-form"
         *fuseIfOnDom
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/app-icon-logo.png">
      </div>

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <form name="loginForm"
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            novalidate>

        <mat-form-field>
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="loginFormErrors.email.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password">
          <mat-error *ngIf="loginFormErrors.password.required">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me"
                        aria-label="Remember Me">
            Remember Me
          </mat-checkbox>

          <a class="forgot-password"
             [routerLink]="'/auth/forgot-password'">
            Forgot Password?
          </a>
        </div>

        <button mat-raised-button
                color="accent"
                class="submit-button"
                aria-label="LOG IN"
                [disabled]="loginForm.invalid">
          LOGIN
        </button>

      </form>

      <div class="register"
           fxLayout="column"
           fxLayoutAlign="center center">
        <span class="text">Don't have an account?</span>
        <a class="link"
           [routerLink]="'/auth/register'">Create an account</a>
      </div>

    </div>

  </div>

</div>